doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name='robots', content='noindex')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
        title IoT Wall
        script(src='https://www.gstatic.com/firebasejs/4.10.1/firebase.js')
        script.
            // Initialize Firebase
            // TODO: Replace with your project's customized code snippet
            var config = {
                apiKey: "AIzaSyBZqj5mk6EZDtOQHClJGBb3l9Nw0FAqdpA",
                authDomain: "firabasefire.firebaseapp.com",
                databaseURL: "https://firabasefire.firebaseio.com",
                projectId: "firabasefire",
                storageBucket: "firabasefire.appspot.com",
                messagingSenderId: "616673046185"
            };
            firebase.initializeApp(config);
    body
        main
            .control-box
                img(src="./image/connect.svg", alt="").connect.js-connect
                img(src="./image/work.svg", alt="").work.js-work
                img(src="./image/tweet.svg", alt="").tweet.js-tweet
            img(src="./image/text1.svg", alt="").text
            p.number.js-number 0回
        script(src="js/app.js")