doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name='robots', content='noindex')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
        title WebBluetoothAPI with BLENano
        script(src='https://www.gstatic.com/firebasejs/4.10.1/firebase.js')
        script.
            // Initialize Firebase
            // TODO: Replace with your project's customized code snippet
            var config = {
                apiKey: "AIzaSyBZqj5mk6EZDtOQHClJGBb3l9Nw0FAqdpA",
                authDomain: "firabasefire.firebaseapp.com",
                databaseURL: "https://firabasefire.firebaseio.com",
                projectId: "firabasefire",
                storageBucket: "firabasefire.appspot.com",
                messagingSenderId: "616673046185"
            };
            firebase.initializeApp(config);
    body
        main
            #search-button.show
                .view-inner
                    .btn.btn-block.btn-lg.btn-primary SEARCH
            #func-button.show
                #read-button.view-inner
                    .btn.btn-block.btn-lg.btn-primary READ
                #write-button.view-inner
                    .btn.btn-block.btn-lg.btn-primary WRITE
            .view-inner
                input#data-form.form-control(type='text', value='', placeholder='no data')
            #loading.hide
        script(src="js/app.js")